h2 Edit Post
hr
div(class='row')
  div(class='col-sm-8 blog-main')
    div(class='form-group')
      label(for='title') Title:
      input(class='form-control' ng-model='form.title', name='title' value='')

    div(class='form-group')
      label(for='title') Body:
      textarea(class='form-control' placeholder='Enter the description here...' ng-model='form.text', cols='10', rows='3')

    p
      button(class='btn btn-info btn-round pad1' ng-click='editPost()') Edit Post
      button(class='btn btn-normal btn-round' ng-click='home()') Cancel
