- var user = { name: 'kjkjkjk' }

div(ng-show="flash.getMessage()")
  p {{flash.getMessage()}}

div(ng-if="(total == 0)")
  p No post found.

div(ng-if="(total > 0)")
  p There are {{total}} posts
  div(class='blog-post', ng-repeat='post in posts')
    h3 {{post.title}}
    div {{post.text}}
    div(class='actionButton')
      a(class='btn btn-primary btn-round pad1' href='/#edit_post/{{post.id}}') Edit
      a(class='btn btn-primary btn-round' href='/#delete_post/{{post.id}}') Delete
      a(class="btn btn-primary btn-icon btn-icon-mini btn-round")
        i(class="now-ui-icons ui-2_favourite-28")

