extend layout

block loginForm
  h2 Login
  div(class='form-group')
    label(for='username') Username:
    input(class='form-control' placeholder='Username' ng-model='data.username', name='username')

    div(class='form-group')
      label(for='password') Username:
      input(class='form-control' placeholder='Username' ng-model='data.password', name='password' type='password')

  p
    button(class='btn btn-info btn-round' ng-click='doLogin()') Login
